<div style="height: 55px"></div>



<div class="container">
  <div class="row">
    <div class="col-sm">
<h1><a href="/PreeUpdateUser?id={{user._id}}">account</a> </h1> 
 <h1><a href="/PreeUpdateorder?id={{user._id}}">orders</a> </h1>
   </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>