<h1>dsdfgdfdfdf</h1>

<div style="display: block" class="col-lg-12" id="indexSuccess_msg">
	{{#if success_msg}}
	<div id="indexSuccess_msg1" class="alert alert-success">{{success_msg}}</div>
	{{/if}}
</div>
{{success_msg}}
<form  name="blogemail"  action="/users/postresetpass"	method="post">
				<input class="form-control"  type="email" placeholder="Your Email" name="email" >
				<button type="submit" value="submit" class="btn btn-warning btn-lg  blogBTN" aria-haspopup="true"aria-expanded="false" >
					Submit
				</button>
			</form>