<div style="background-image: url(/images/Stout.jpg); background-repeat: no-repeat;background-size: 100%;height: 925px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="account-wall">
          <div class="row">
            <div class="col-lg-12">
              {{#if success_msg}}
              <div class="alert alert-success">{{success_msg}}</div>
              {{/if}} {{#if error_msg}}
              <div class="alert alert-danger">{{error_msg}}</div>
              {{/if}} {{#if error}}
              <div class="alert alert-danger">{{error}}</div>
              {{/if}} {{{body}}}
            </div>


          </div>
          <h1 class="text-center login-title">Login</h1>
          <img class="profile-img" src="/images/user.bmp" alt="">
          <form class="form-signin" method="post" action="/users/login">
            <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
            <input type="password" class="form-control" placeholder="Password" name="password" required>



            <div class="popup">
              <div>not a robot will come here</div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign in</button>
            </div>
            <a href="/users/register" class="text-center new-account">Create an account </a>
            <a href="resetpass" class="text-center new-account">forgot my password</a>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>