  <img src="/images/Logo/ProjectBeer.png" style="width:10%">

<h1>update a Blog</h1>

<div style="width:40% ;margin:0 0  50px 550px;" align="center">

    <form action="/UpdateBlog" method="POST">
       
        <span> NEW Email:</span>
        <input type="email" class="form-control" placeholder=" NEW Email" name="email" required>
      <input type="hidden" class="form-control"  name="date" required>


        <button class="btn btn btn-info btn-lg" type="submit">Update</button>
    </form>
            <button class="btn btn btn-secondary btn-lg" type="submit"><a href="/users/admin/hompage">Back</a></button>

</div>